<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="excelFileGenerator" class="com.rsaad.generator.impl.ExcelFileGenerator" />
	
	<bean id="excelHelper" class="com.rsaad.helper.ExcelHelper" >
		<property name="fileGenerator" ref="excelFileGenerator" />
	</bean>
	
</beans>