<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="csvFileGenerator" class="com.rsaad.generator.impl.CsvFileGenerator" />
		
		<bean id="csvHelper" class="com.rsaad.helper.CsvHelper" >
			<property name="fileGenerator" ref="csvFileGenerator" />
		</bean>	
	
</beans>